.App {
  text-align: center;
  width: 60%;
  align-items: center;
  margin: 0px auto;
}

h1 {
  color: orange;
}

h2 {
  color: gray;
  font-size: 1em;
}

.word-input {
  width: 50%;
  height: 40px;
  text-align: center;
}

button {
  background-color:gray;
  color: white;
  width: 25%;
  height: 40px;
  margin: 2.5px;
  margin-top: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: orange;
}

ol {
  columns: 6;
  text-align: left;
  padding-left: 20%;
  align-items: center;
}

.selected {
  background-color: orange;
}