.App {
  text-align: center;
  align-items: center;
  margin: 0px auto;
}

.p4 {
  padding-top: 4px;
}

.p8 {
  padding-top: 8px;
}

.p16 {
  padding-top: 64px;
}

.bp {
  padding-left: 24px;
}


.buttonLanguage {
  background-color: #7e57c2;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

.buttonLanguage:hover {
  background-color: #311b92;
}

.buttonTry {
  background-color: white;
  color: #7e57c2;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border-color: #7e57c2;
}
.buttonTry:hover{
  background-color:  #7e57c2;
  color: #d1c4e9;
}

.body {
  color: #7e57c2;
  max-width: 400px;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
}

.wordListWrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.wordList {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.word {
  width: 100px;
  color: #311b92;
}

.selected {
  background-color: #311b92;
}

.footer{
  border-top: solid white;
  border-width: 4px;
  padding: 4px;
  background-color: #7e57c2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #d1c4e9;
}